### Strings are sequence of characters
### In Python specially, strings are a sequence of Unicode characters

    . Creating Strings
    . Accessing Strings
    . Adding Chars to String
    . Editing Strings
    . Deleting Strings
    . Operation on Strings
    . String Functions

### Creating Strings

In [2]:
s = 'hello'
s = "hello"
# To handle multiple line string
s = """hello"""
s = str('hello')

### Note:
    . why ('') and (" ") need to create string. There are some scenarios where we need to handle that scenarios.
    . For ex: 'It's raining outside' ---> It will through an error because Interpreter will not outside 'It' considered as string. In this Scenarios we use (" ").

### Accessing Substrings from string

#### Positive Indexing
     . Positive Indexing starts from the 0 position.
     . Index will help us to extact characters from the variable.

In [7]:
s = 'hello world'   # used to access single character

print(s[0])

h

#### Negative Indexing

    . It starts from -1 from the right side of the string.

In [4]:
s = 'hello world'

print(s[-1])

d

In [6]:
print(s[-3])

r

#### Slicing --> used to access substring

In [8]:
s = 'hello world'

print(s[1:6])

ello

In [9]:
s = 'hello world'

print(s[-1:-6])

In [10]:
s = 'hello world'

print(s[-1:-6:-2])

drw

In [11]:
s = 'hello world'

print(s[0:])

hello world

In [13]:
s = 'hello world'

print(s[:-1])

hello worl

In [16]:
s = 'hello world'

print(s[:6])

hello

### Reverse of a string

In [15]:
s = 'hello world'   

print(s[::-1])

dlrow olleh

### Editing Strings and Deleting in Strings

In [18]:
# If I want to Edit/replace/change 'H' in place of 'h'(hello)

s = 'hello world'
s[0] = 'H'

TypeError: 'str' object does not support item assignment

#### Note:

    . String is a immutable ---> It means once we creted a string, we can't edit/change

### Deleting String
     . In python there is a operator called "del" ---> which means 'delete'

In [20]:
s = 'hello world'

del s

print(s)

NameError: name 's' is not defined

#### Note:

. It through an error because it has already deleted, that's why it is not defined.

## Very Important (Deletion of some portion of the string can't possible)

In [21]:
s = 'hello world'

del s[-1:-5:2]

print(s)

TypeError: 'str' object does not support item deletion

### NOTE:

    . What we have done here, modifying the string indirectly --> it means by using "slicing" concept we tried to delete          some portion of the string but,it through an error because "String" is an "immutable".
    . Even when we add/delete some portion of the string --> It means "Modifying"
    . All in all, we can't delete some portion of the string. But, We can delete "string completely"

### Operation on String

    . Arthematic Operations
    . Relational Operations
    . Logical Operations
    . Loops on String
    . Membership Operations

### Arthematic Operations on strings 

    . '+' (Addition) --> Concatenate
    . '*' (Multiplication) --> String repeated
### Note:

    . Only these 2 operators will applicable on strings

In [23]:
"hello" + " " + "world"

'hello world'

In [26]:
"hello" * 5

'hellohellohellohellohello'

In [27]:
"*"*5     #"any special character"

'*****'

### Relational Operations 

    . All operations applicable on strings

In [28]:
"pune" > "mumbai"

True

In [30]:
"Pune" > "pune"

False

### Note:

    . Basically, the output is either True/False for Relational Operators.
    . The output is resulted based on "ASCII" Values of the string characters or "lexiographically"

### Logical Operations
    --> The following points applicable when the Logical operators is applied on "String"
    . Actually, if the string is filled with "characters" ---> It is considered as "True
    . On the other hand, If the string is " "(space: not filled with any chracters) ----> It is "False"

In [31]:
" " and "hello"

'hello'

In [32]:
"hello" and "world"   # Here, both are true, why world is the output.
                      # first character is "True" and operator is checking other string whether it is "True or False".
                      # That's why last string will be print.

'world'

In [33]:
"hello" or "world"

'hello'

In [34]:
"hello" or " "

'hello'

In [35]:
" " and "hello"

'hello'

In [36]:
" " or " "

' '

In [1]:
not " "

False

### Loops on string

    . We can apply for loop on strings

In [39]:
for i in 'delhi':
    print(i)

d
e
l
h
i

In [41]:
for i in 'delhi':       # Here we are not printing 'i', looping is running 5 times.
    print("pune")

pune
pune
pune
pune
pune

### Membership Operation on string

    . in
    . not in
    . output is : True/False

In [43]:
'D' in "delhi"    # Case sensitive

False

In [44]:
"d" in "delhi"

True

In [45]:
"d" in "Delhi"

False

### String Functions

    - I divided into string functions into 2 parts:

    1. Common functions
    2. String Functions

    1. Common Functions: These functions will applicable on all data types such as:
    - List
    - String
    - Tuple
    - Sets
    - Dictionaries
    1. Common Functions are:
    . len()
    . min()
    . max()
    . sorted()

    2. String Functions are only applicable on strings, such as:
    . capitalize()/title()/lower()/upper()/swapcase()
    . count()/find()/index()
    . endswith()/startswith()
    . format()
    . isalnum()/isaplha()/isdigit()/isidentifier()
    . split()/join()
    . replace()
    . strip()

In [46]:
'siva 123'.isalnum()

False

In [47]:
'siva123'.isalnum()

True

### Tasks

In [48]:
# Find the length of a given string without using len() function

s = input('enter any string name:')

count = 0
for i in s:
    count = count + 1
print(count)

enter any string name:siva sankar
11

In [50]:
# extract user name from given email
# for Eg: given email is sivaseelam465@gmail.com
# output should be 'sivaseelam465'

s = input('enter emailid:')

n_str = s.split('@')

print(n_str[0])

enter emailid:sivaseelam465@gmail.com
sivaseelam465

In [52]:
# extract user name from given email
# for Eg: given email is sivaseelam465@gmail.com
# output should be 'sivaseelam465'

s = input('enter emailid:')
pos = s.index('@')

print(s[0:pos])

enter emailid:sivaseelam465@gmail.com
sivaseelam465

In [56]:
# count the frequency of particular character in a given string
# Eg: "hello how are you" is the string, the frequency of 'h' in this string is 2

s = input('enter any string name: ')
term = input('what is your searching term: ')

counter = s.count('o')

print(counter)

enter any string name: hi how are you
what is your searching term: h
2

In [57]:
# count the frequency of particular character in a given string
# Eg: "hello how are you" is the string, the frequency of 'h' in this string is 2

s = input('enter any string name: ')
term = input('what is your searching term: ')

count = 0
for i in s:
    if i == term:
        count += 1
print('frequency off the word: ', count)

enter any string name: sivasankarseelam
what is your searching term: s
frequency off the word:  3

In [58]:
# write a program which can remove a particular character from string

s = input('enter any string name: ')
term = input('what is your searching term: ')

result = ''
for i in s:
    if i != term:
        result = result + i
print(result)

enter any string name: nitish
what is your searching term: i
ntsh

In [62]:
# write an program to check whether string is palindrome or not

s = input('enter any string name: ')

r = s[::-1]

if s == r:
    print('given string is a palindrome')
else:
    print('given string is not palindrome')

enter any string name: racecar
given string is a palindrome

In [64]:
# write a program to count how many words in a string without using split()

s = input('enter any string name: ')

count = 1
for i in s:
    if i == " ":
        count = count + 1
print(count)

enter any string name: hi how are you
4

In [3]:
# write a program to count how many words in a string with using split()

s = input('enter any string name: ')

res = s.split()

print(len(res))

enter any string name: hi how are you
4